<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xsi:schemaLocation="http://www.springframework.org/schema/beans

http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="calendar" class="server.Calendar">
		<constructor-arg name="db" ref="db">
		</constructor-arg>
	</bean>
	<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="service" ref="calendar" />
		<property name="serviceName" value="service" />
		<property name="serviceInterface" value="common.CalendarInterface" />
		<property name="registryPort" value="1099" />

	</bean>
	
	<bean id="db" class="server.Database">
	</bean>
	
	
</beans>